@CHARSET "UTF-8";

body {
	
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.content {
	width: 100%;
	height: 1200px;
}

.moneybook-top {
	overflow: hidden;
	border: 1px solid #bbb;
	background: #eee;
	    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
}

.moneybook-top ul {
	list-style: none; 
	overflow: hidden;
	margin: 0 auto 0;
    /* position: relative; */
    display: inline-block;
}

.moneybook-top li {    
	float: left;
    /* margin-right: 55px; */
    margin: 0 29px 0;
}

.moneybook-top li a {
	text-decoration: none;
}

.moneybook-main {
	overflow: hidden;
	border: 1px solid #bbb;
/* 	border-radius: 5px; */
	margin-bottom: 30px;
}

.moneybook-main .main-row {
	padding-left: 10px;
	float: left;
}

.moneybook-main .main-row-spend {
	padding-left: 10px;
	float: left;
}

.moneybook-main .main-row-import {
	padding-left: 10px;
	float: left;
}

.main-row .money {
	text-align: right;
}

.main-row .reg-btn {
	width: 100px;
	height: 264px;
	font-size: 20px;
}

.moneybook-main h4 {
	background: #eee;
	margin-bottom: 5px;
	margin-top: 5px;
}

.moneybook-main span {
	font-size: 13px;
}

.moneybook-main .quick-money {
	width: 100%;
	height: 200px;
}

.moneybook-main .quick-menu {
	display: none;
	text-align: right;
}

.moneybook-main .quick-menu a {
	text-decoration: none;
	color: blue;
	font-size: 15px;
}

.moneybook-list {
	overflow: hidden;
	width: 95%;
	margin: 10px auto 10px;
}


.moneybook-list-graph2 {
	overflow: hidden;
	width: 95%;
	margin: 10px auto 10px;
}



.moneybook-list-graph2 {
	overflow: hidden;
	width: 95%;
	margin: 10px auto 10px;
}


.moneybook-list-graph3 {
	overflow: hidden;
	width: 95%;
	margin: 10px auto 10px;
}

.moneybook-list-graph2 svg {
	width: 600px;
    /* position: relative; */
    height: 300px;
    margin: 0 150px 0;
}



.moneybook-list .moneybook-item {
	width: 100%;
	overflow: hidden;
  padding-bottom: 5px;
  padding-top: 5px;
  border-bottom-style: inset;
}

.moneybook-item .item-date {
	width: 15%;
	float: left;
	line-height: 30px;
}

.moneybook-item .item-memo {
	width: 25%;
	float: left;
	line-height: 30px;
}

.moneybook-item .item-money, .item-total {
	width: 10%;
	padding-right: 2%;
	text-align: right;
	float: left;
	line-height: 30px;
}

.moneybook-item .item-import, .item-spend, .item-menu, .item_writer {
	width: 12%;
	float: left;
	height: 30px;
	overflow: hidden;
	line-height: 30px;
}

.moneybook-item .menu-span {
	width: 100%;
	float:left;
	height: 30px;
	display: none;
}

.moneybook-list-graph2 svg {
	width: 100%;
	height: 500px;
}

.moneybook-list-graph3 svg {
	width: 100%;
	height: 500px;
}

path.slice{
	stroke-width:2px;
}


polyline{
	opacity: .3;
	stroke: black;
	stroke-width: 2px;
	fill: none;
}

svg text.percent{
	fill:white;
	text-anchor:middle;
	font-size:12px;
}


path {  stroke: #fff; }
path:hover {  opacity:0.9; }
rect:hover {  fill:blue; }
.axis {  font: 10px sans-serif; }
.legend tr{    border-bottom:1px solid grey; }
.legend tr:first-child{    border-top:1px solid grey; }

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.x.axis path {  display: none; }
.legend{
    margin-bottom:76px;
    display:inline-block;
    border-collapse: collapse;
    border-spacing: 0px;
}
.legend td{
    padding:4px 5px;
    vertical-align:bottom;
}
.legendFreq, .legendPerc{
    align:right;
    width:50px;
}


.area.above {
  fill: rgb(252,141,89);
}

.area.below {
  fill: rgb(145,207,96);
}

.line {
  fill: none;
  stroke: #000;
  stroke-width: 1.5px;
}
