@charset "UTF-8";

@import url(http://fonts.googleapis.com/css?family=Lobster);
@font-face {
  font-family: 'Luckiest Guy';
  font-style: normal;
  font-weight: 400;
  src: local('Luckiest Guy'), local('LuckiestGuy-Regular'), url(https://fonts.gstatic.com/s/luckiestguy/v6/5718gH8nDy3hFVihOpkY5Ogdm0LZdjqr5-oayXSOefg.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
*, *:before, *:after {
   -webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
   box-sizing: border-box;
}

html {
	height:100%;
}
body {
	width:100%;
	font-family:'Malgun Gothic';
	background:#1d1f20;
}
input, button {
	font-family:'Malgun Gothic';
	letter-spacing:-1px;
}
body.view {
	overflow:hidden;
}
/* Let's get this party started */
::-webkit-scrollbar {
	width:8px;
	height:8px;
}
 
/* Track */
::-webkit-scrollbar-track {
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
	-webkit-border-radius: 10px;
	border-radius: 10px;
	background:#eee;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
	-webkit-border-radius: 10px;
	border-radius: 10px;
	background: #999; 
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}
::-webkit-scrollbar-thumb:window-inactive {
	background: #999; 
}
body.scroll-lock {
	height:auto;
	overflow:hidden;
}
body, span {
	font-family:'Malgun Gothic';
	letter-spacing:-1px;
}
header {
	width:100%;
	height:80px;
	position:fixed;
	line-height:80px;
	z-index:10;
	background:#333;
}
header h1 {
	display:inline-block;
	float:left;
	position:relative;
	padding:0 50px 0 10px;
	margin-top:-7px;
  text-align: center;
}
header h1 em {
	transform:rotateZ(34deg);
	display:block;
	font-size:40px;
	position:absolute;
	top:-4px;
	right:0;
	z-index:3;
}
header h1 span {
	position:relative;
	z-index:3;
  font-size:70px;
  text-shadow:0 1px 0 #ec5171,
						  0 4px 0 #99132e,
						  0 8px 0 #6d0d20,
						  4px 12px 0 #fff,
						  2px -1px 0 #fff,
						  1px 0 0 #fff,
						  -1px 0 0 #fff,
						  1px 13px 5px #000;
}
header h1 span, header h1 em {
	color: #ab1534;
	font-family:'Luckiest Guy', cursive;
	font-style:normal;
	font-weight:400;
	text-shadow:0 1px 0 #ec5171,
						  0 4px 0 #99132e,
						  0 8px 0 #6d0d20,
						  4px 12px 0 #fff,
						  2px -1px 0 #fff,
						  1px 0 0 #fff,
						  -1px 0 0 #fff,

}

header h1::before {
	content:"";
	display:block;
	width:100%;
	height:10px;
	background:#fff;
	position:absolute;
	top:45px;
	left:0;
	border-radius:20px;
}
header h1 a {
	text-decoration:none;
}
header input[type="text"], header input[type="password"] {
	color:#000;
	vertical-align:middle;
	background-color:#fff;
	background-image:none;
	border:1px solid #ccc;
	border-radius:4px;
	-webkit-box-shadow:inset 0 1px 1px rgba(0,0,0,0.075);
	box-shadow:inset 0 1px 1px rgba(0,0,0,0.075);
	-webkit-transition:border-color ease-in-out .15s,box-shadow ease-in-out .15s;
	transition:border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}
header input[type="text"]:focus, header input[type="password"]:focus {
	border-color:#66afe9;
	outline:0;
	-webkit-box-shadow:inset 0 1px 1px rgba(0,0,0,0.075),0 0 8px rgba(102,175,233,0.6);
	box-shadow:inset 0 1px 1px rgba(0,0,0,0.075),0 0 8px rgba(102,175,233,0.6);
}
header .nav {
	padding-left:20px;
	overflow:hidden;
}
header .nav li {
	float:left;
	margin-right:10px;
}
header .nav a {
	font-size:20px;
	font-weight:bold;
	color:#fff;
	text-decoration:none;
}
header .bookmarkZone {
  position:absolute;
  right:450px;
  top:50%;
  width:250px;
  height:50px;
  border:2px solid #fff;
  border-radius:10px;
  color:#fff;
  font-size:30px;
  text-align:center;
  margin-top:-25px;
}
header .bookmarkZone span {
	display:block;
	float:left;
}
header .bookmarkZone .img {
	width:40px;
	height:40px;
	border:1px solid #000;
	border-radius:50%;
	overflow:hidden;
}
header .bookmarkZone .img img {
	width:120%;
}
header .bookmarkZone .txt {
	font-size:15px;
	line-height:40px;
}
header .bookmarkZone .pin-btn {
	display:block;
	position:absolute;
	top:0;
	right:0;
	width:60px;
	height:46px;
	background:#105a8b url("../images/icon_pin.png") no-repeat center;
	background-size:30px 30px;
	border-radius:0 8px 8px 0; 
	text-indent:-5000px;
	border-left:2px solid #fff;
	box-sizing:border-box;
}
header .bookmarkZone .pin-click {
	position:absolute;
	bottom:-310px;
	right:-100px;
	background:#fff;
	color:#000;
	width:300px;
	height:300px;
	box-sizing:border-box;
	border:3px solid #105a8b;
	display:none;
}
header .bookmarkZone .pin-click::before {
	content:"";
	position:absolute;
	top:-12px;
	left:center;
	width:20px;
	height:20px;
	border-top:3px solid #105a8b;
	border-left:3px solid #105a8b;
	transform:rotateZ(45deg);
	background:#fff;
}
header .bookmarkZone .pin-list {
	position:relative;
	width:90%;
	margin:10px auto;
	height:30px;
	overflow:hidden;
}
header .bookmarkZone .pin-list li {
	float:left;
	width:33.333%;
	height:100%;
	overflow:hidden;
}
header .bookmarkZone .pin-list li > button {
	text-align:center;
	display:block;
	width:100%;
	height:100%;	
	color:#fff;
	background:#0090c0;
	font-weight:bold;
}
header .bookmarkZone .pin-list li > button.current {
	background:#105a8b;
}
header .bookmarkZone li:first-child {
	border-left:2px solid #fff;
	border-radius:10px 0 0 10px;
}
header .bookmarkZone li:last-child {
	border-right:2px solid #fff;
	border-radius:0 10px 10px 0;
}
header .bookmarkZone li:nth-child(2) {
	border-right:2px solid #fff;
	border-left:2px solid #fff; 
}
header .bookmarkZone .pin-content {
	width:100%;
	border-top:1px dashed #000;
	height:244px;
	overflow-y:auto;
}
.search {
   width:100%;
   height :700px;
   background-image:url("../images/bg_search.jpg");
   background-repeat:no-repeat;
   background-position:center top;
   position:relative;
   text-align:center;
   display:table;
   margin-bottom:40px;
   overflow:hidden;
}
.search .title {
   display:table-cell;
    vertical-align:middle;
	position:relative;
}
.search .title strong {
	position:absolute;
	top:130px;
	left:50%;
	margin-left:-500px;
	width:1000px;
	font-family:'Lobster', cursive;
	text-shadow:1px 1px gray, 2px 2px gray, 3px 3px gray, 4px 4px gray, 5px 5px gray, 6px 6px gray;
	font-size:85px;
	color:#fff;
}
.search strong em {
	position:relative;
}
.search strong em {
	z-index:4;
}
.search strong em:last-child {
	z-index:2;
}
.search #keyword {
   font-family:'Malgun Gothic';
   font-weight:bold;
   letter-spacing:-1px;
    margin-left:20px;
   background:none;
    border:0;
    border-bottom:4px solid #fff;
    font-size:70px;
    width:600px;
    color:#fff;
}
.searchIcon {
   background:none;
   border:0;
   width: 120px;
   height:120px;
   margin:-5px 0 0 10px;
   vertical-align:top;
}

.searchIcon > img {
   width:100%;
}
#c {
	display: block;
	position:absolute;
	top:50%;
	left:50%;
	margin:-335px 0 0 -100px;
	z-index:3;
}
/*
#demo-canvas {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
*/
.login-area {
	position:absolute;
	right:150px;
	top:37px;
	width:270px;
	height:50px;
	margin-top:-25px;
}
.login-area input[type="text"], .login-area input[type="password"] {
	padding:0 5px;
	height:30px;
}
.login-area label {
	font-size:15px;
	width:30%;
	vertical-align:top;
}


#panel{
  border: 1px solid white;
  margin: 0px auto 30px;
  height:500px;
  width:1200px;
/*   background-image:url('http://farm4.static.flickr.com/3550/3367798587_c24c797f0f.jpg');color:white;font-weight:bold; */
}

.list {
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    text-transform: uppercase;
}

.list a {
    display: block;
    color: #fff;
	text-decoration:none;
}

.list a:hover {

}

.list dt, .list dd {
    text-indent:10px;
    line-height:55px;
    margin: 0;
    height:55px;
    width:270px;
    color: #fff;
}

.list.open dd {
	display:block;
}
.list dt {
    /* Since we're hiding elements behind here, we need it in 3d */
    -webkit-transform: translateZ(0.3px);
    transform: translateZ(0.3px);
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
	position:relative;
	z-index:99;
}

.list dd {
	display:none;
    border-top:1px dashed rgba(255,255,255,0.3);
    line-height:50px;
    font-size:15px;
    height:50px;
    margin:0;
}
.list dt em, .list dd em {
	position:absolute;
	top:0;
	left:0;
	z-index:99;
	width:100%;
}
.list dd em input[type="text"], .list dd em input[type="password"] {
	width:93%;
}
.list .btn-login input {
	width:80px;
	height:30px;
	background:#fff;
	border:0;
	color:#105a8b;
	font-weight:bold;
	display:inline-block;
	font-size:14px;
}


/* UI */
.list .toggle {
	font-size:20px;
	font-weight:bold;
	display:block;
	height:100%;
    -webkit-transform: translateZ(100px);
    transform: translateZ(100px);
    box-shadow: 0 1px 4px rgba(0,0,0,0.15);
    border-radius: 3px;
    line-height: 50px;
    text-align: center;
    z-index:1;
    color: #fff;
}
.login-area .login {
	width:100px;
	position:absolute;
	top:0;
	left:0;
	transition:width 2s ease;
	text-align:center;
	overflow:hidden;
}
.login-area .join {
	width:150px;
	position:absolute;
	top:0;
	right:0;
	transition:width 2s ease;
	text-align:center;
	overflow:hidden;
}
.login-sort .input-login {
	text-align:left;
}
.login-sort {
	z-index:1;
}
.login-sort.on {
	width:270px;
	transition:width 2s ease;
	z-index:30;
}
.login-sort.login .list .toggle {
	position:relative;
	z-index:999;
	width:100px;
	transition:width 2s ease;
}
.login-sort.join .list .toggle {
	width:150px;
	transition:width 2s ease;
}
.login-sort.on .list .toggle {
	width:100%;
	transition:width 2s ease;
}
.login-sort .toggle {
  font-family:'Luckiest Guy', cursive;
	letter-spacing:0;
	font-weight:normal;

}

.toggle:hover {
    

}

/* No CSS 3D support warning */
.warning {
    -webkit-transform:translateZ(2px);
    transform:translateZ(2px);
    background:rgba(255,255,255,0.6);
    position:fixed;
    display:none;
    z-index:999;
    height:100%;
    width:100%;
    left:0;
    top:0;
}

.warning .message {
    box-shadow: 0 1px 8px rgba(0, 0, 0, 0.6);
    border-radius: 5px;
    text-align: center;
    margin-left: -150px;
    margin-top: -60px;
    line-height: 1.5;
    background: #222;
    font-size: 12px;
    position: absolute;
    padding: 10px;
    width: 280px;
    color: #fff;
    left: 50%;
    top: 50%;
}

.warning .message h1 {

    font-weight: 300;
    font-size: 14px;
}

.warning .message a {
    text-decoration: none;
    color: #73C8A9;
}

/* Individual styles */

.maki dt, .maki dd, .maki a {
	background:#105a8b;
}
.maki a:hover {}
.maki {
    -webkit-transform: perspective(600px) translateZ(1px) !important;
    transform: perspective(600px) translateZ(1px) !important;
    left: 50%;
}
.btn-search {
	position:absolute;
	top:50%;
	right:30px;
	width:100px;
	height:70px;
	margin-top:-35px;
}
.ico-search {
  display:block;
  position:absolute;
  top:21px;
  left:50%;
  -webkit-transform: translate(-50%, -30%);
  transform:translate(-50%, -30%);
  text-align:center;
  width:100%;
  height:100%;
  cursor:pointer;
}

.element {
  width:0;
  height:50px;
  position:relative;
  display:block;
  margin-bottom:5px;
  border:1px solid #f2f2f2;
  box-shadow:0 0 2px #f2f2f2;
  /*   border-radius: 50%; */
}

.element-one {
	 width: 0px;
    border-radius: 0px;
    left: 47px;
    border-width: 3px;
    top: 10px;
    transform: rotateZ(-45deg);
}

.element-two {
  transform: rotateZ(225deg);
    left: 47px;
    top: -45px;
    height: 50px;
    border-width: 3px;
}

main {
	width:100%;
	height:100%;
	box-sizing:border-box;
	overflow:hidden;
	padding-bottom:50px;
}
.page-main main {
	padding-top:80px;
}
.page-sub main {
	padding-top:120px;
	perspective:1200px;
}
.container {
	position:relative;
	width:1000px;
	background:#fff;
	padding:30px 50px;
	margin:0 auto;
	font-size:14px;
	opacity:0; 
	transform:rotateX(-90deg);
}
.container.effect {
	opacity:1;
	transform:rotateX(0);
	transition:opacity 2s, transform 2s;
	
}
.img-layer {
	position:relative;
	width:1200px;
	margin:0 auto;
}


.img-layer .img {
	display:block;
	width:100%;
	padding:5px;
	box-sizing:border-box;
}
.img-layer .video {
	position:relative;
	display:block;
	width:100%;
	padding:5px;
	box-sizing:border-box;
}
.img-layer img {
	width:100%;
	box-sizing:border-box;
	border:2px solid #f4f4f4;
}
.img-layer .txt {
	padding:5px;
	font-size:14px;
	line-height:20px;
	display:block;
	color:#fff;
}
.img-wrap {
	position:absolute;
	width:192px;
	opacity:0;			
	perspective:1000px;
}
.img-content {
	transform-style: preserve-3d;
	transform-origin: 125px 0;
	transition: 0.75s;
	background:#105a8b;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
}
.img-wrap:hover {
	
}
.img-wrap.position-right:hover .img-content, .img-wrap.on.position-right .img-content {
	transform:translateX(-10px) translateZ(40px) translateX(-40px) rotateY(-50deg);
}

.img-wrap.position-left:hover .img-content, .img-wrap.on.position-left .img-content {
	transform:translateX(-10px) translateZ(40px) translateX(40px) rotateY(50deg);
}

.img-inner {

}
.img-inner:after {
	
}
.spine {
	position: absolute;
	color: #fff;
	bottom: 0;
	top: 0;
	width: 50px;
	z-index: 5;
	overflow: hidden;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
	background: #105a8b;
	background-size: auto 100%;
}
.spine-left {
	-webkit-transform: rotateY(-90deg) translateX(-49px);
	transform: rotateY(-90deg) translateX(-49px);
	-webkit-transform-origin: 0 0;
	transform-origin: 0 0;
}
.spine-right {
	right:0;
	-webkit-transform: rotateY(90deg) translateX(49px);
	transform: rotateY(90deg) translateX(49px);
	-webkit-transform-origin: 100% 0;
	transform-origin: 100% 0;
}
.spine button {
	font-size:20px;
	text-align:center;
	-webkit-writing-mode: vertical-rl;
	writing-mode: vertical-rl;
	display:block;
	width:100%;
	height:100%;
	color:#fff;
	position:relative;
	text-decoration:none;
	vertical-align:middle;
	box-sizing:border-box;
	font-weight:bold;
	padding:0 15%;
}

.spine::before {
	position: absolute;
	content: "";
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.3);
}
.z-index {
	z-index:50;
}
.max {
	
}
/*
.max::before {
	content:"";
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
	background:#000;
	z-index:-1;
	opacity:0;
	transition:opacity 1s, z-index 1s;
}
*/
.dark-layer {
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:0;
	background:#000;
	z-index:-1;
	opacity:0;
	transition:opacity 1s, z-index 1s, height 0.5s;
}
.view .dark-layer {
	opacity:.5;
	z-index:99;
	height:500%;
	transition:opacity 1s, z-index 1s;
}
.box.show {
	z-index:1;
}
/*
.max.show::before {
	opacity:.5;
	z-index:99;
	transition:opacity 1s, z-index 1s;
}
*/

.view .box {
	opacity:1;
	z-index:100;
	transition:opacity 1s, z-index 1s;
}

.box {
	position:absolute;
	top:30px;
	left:50%;
	margin:0 0 0 -662px;
	z-index:-1;
	opacity:0;
	transition:opacity 1s;
	background:none;
	padding:50px;
	border:4px solid #000;
}
.box::before, .box::after {
	content:"";
	position:absolute;		
	width:0;
	height:50px;
	background:none;
	-webkit-transition:0.7s;
	transition:0.7s;
	-webkit-transition-delay:0.7s;
	transition-delay:0.7s;
}
.box::before {
	top:0;
	left:0;
}
.box::after {
	bottom:0;
	right:0;
}
.box.open::before, .box.open::after {
	width:100%;
	background:#fff;
	-webkit-transition:0.7s;
	transition:0.7s;
}
.box.open .btn-close {
	 -webkit-animation: spinnerH 5s linear infinite;
    animation: spinnerH 5s linear infinite;
}
.tile::before, .tile::after {
	content:"";
	position:absolute;
	width:50px;
	height:0;
	background:none;
	-webkit-transition:0.7s;
	transition:0.7s;
}
.tile::before {
	bottom:-10px;
	left:-54px;
}
.tile::after {
	top:-10px;
	right:-54px;
}
.open .tile::before, .open .tile::after {
	background:#fff;
	height:105%;
	-webkit-transition:0.7s;
	transition:0.7s;
	-webkit-transition-delay:0.7s;
	transition-delay:0.7s;
}
.box.open .btn-close {
	background:transparent;
}
.box .btn-close {
	display:block;
	width:100%;
	height:100%;
	background:none;
	position:relative;
	-webkit-transition:0.2s;
	transition:0.2s;
	-webkit-transition-delay:0.8;
	transition-delay:0.8s;
	 -webkit-transform-style: preserve-3d;
	 transform-style: preserve-3d;
	 -webkit-transform-origin: 50% 100px;
	 transform-origin: 50% 100px;
	-webkit-animation: spinnerH 5s linear infinite;
	 animation: spinnerH 5s linear infinite;
}
.box .btn-close span {
	display:block;
	position:absolute;
	width:100%;
	height:100%;
	top:0;
	border:2px solid #000;
	box-sizing:border-box;
	box-shadow:inset 0 0 20px rgba(0,0,0,.2);
	background:none;
	-webkit-transition:0.2s;
	transition:0.2s;
	-webkit-transition-delay:0.8;
	transition-delay:0.8s;
}
.box.open .btn-close span {
	background:#fff;
	-webkit-transition:0.2s;
	transition:0.2s;
	-webkit-transition-delay:0.8;
	transition-delay:0.8s;
}
.box .btn-close span::before, .box .btn-close span::after {
	content:"";
	position:absolute;
	top:-1px;
	width:4px;
	height:50px;
	background:#000;
}
.box-close {
	position:absolute;
	top:0;
	right:0;
	width:50px;
	height:50px;
	-webkit-perspective: 800px;
	perspective: 800px;
	-webkit-perspective-origin: 50% 100px;
	perspective-origin: 50% 100px;
	z-index:99;
}
@keyframes spinnerH{
    to{
        -webkit-transform: rotateY(0deg);
        transform: rotateY(0deg);
    }
    from{
        -webkit-transform: rotateY(360deg);
        transform: rotateY(360deg);
    }
}

.btn-close .back{
	transform: translateZ(-25px) rotateY(180deg);
}
.btn-close .right{
	transform: rotateY(-270deg) translateX(25px);
	transform-origin: top right;
}
.btn-close .left{
	transform: rotateY(270deg) translateX(-25px);
	transform-origin: center left;
}
.btn-close .top{
	transform: rotateX(-90deg) translateY(-25px);
	transform-origin: top center;
}
.btn-close .bottom{
	transform: rotateX(90deg) translateY(25px);
	transform-origin: bottom center;
}
.btn-close .front{
	transform: translateZ(25px);
}
.box .btn-close span::before {
	right:22px;
	transform:rotate(45deg);
}

.box .btn-close span::after {
	left:22px;
	transform:rotate(-45deg);
}



/* Shine */
/*
.img  {
	position: relative;
}
.img::before {
	transition:left 2s, opacity 1s;
	position:absolute;
	top:0;
	opacity:0;
	left:-75%;
	z-index: 2;
	display: block;
	content: "";
	width: 50%;
	height: 100%;
	background: -webkit-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(255,255,255,.3) 100%);
	background: linear-gradient(to right, rgba(255,255,255,0) 0%, rgba(255,255,255,.3) 100%);
	-webkit-transform: skewX(-25deg);
	transform: skewX(-25deg);
}
.img-content:hover .img::before {
	left:125%;
	opacity:1;
}
*/
.tile	{
	position:relative;
	perspective:1000px;
	width:1208px;
	height:608px;
	border:4px solid #000;
	box-sizing:border-box;
}
.tile, .tile span {
	-webkit-transition: all 0.6s ease-in-out, height 0s;
	transition: all 0.6s ease-in-out, height 0s;
}
.tile span {
	width:100px;
	height:100px;
	background:#fff;
	display:block;
	position:absolute;
	top:0;
	left:0;
	transform-origin:100% 50%;
	-webkit-transform-style:preserve-3d;
	transform-style:preserve-3d;
	z-index:100;
	opacity:0;
}
.tile span:nth-child(1) {
	opacity:0;
	-webkit-transition-delay:0.8s;
	transition-delay:0.8s;
}
.tile span:nth-child(2) {
	-webkit-transition-delay:0.7s;
	transition-delay:0.7s;
}
.tile span:nth-child(3) {
	transform-origin:0% 100%;
	-webkit-transition-delay:0.7s;
	transition-delay:0.7s;
}
.tile span:nth-child(4) {
	transform-origin:100% 100%;
	-webkit-transition-delay:0.6s;
	transition-delay:0.6s;
}
.tile span:nth-child(5) {
	width:200px;
	height:200px;
	-webkit-transition-delay:0.5s;
	transition-delay:0.5s;
}
.tile span:nth-child(6) {
	width:200px;
	height:200px;
	transform-origin: 0% 100%;
	-webkit-transition-delay:0.5s;
	transition-delay:0.5s;
}
.tile span:nth-child(7) {
	width:200px;
	height:200px;
	transform-origin:100% 100%;
	-webkit-transition-delay:0.4s;
	transition-delay:0.4s;
}
.tile span:nth-child(8) {
	width:400px;
	height:400px;
	transform-origin:100% 50%;
	-webkit-transition-delay:0.3s;
	transition-delay:0.3s;
}
.tile span:nth-child(9) {
	width:400px;
	height:200px;
	transform-origin:0 100%;
	-webkit-transition-delay:0.3s;
	transition-delay:0.3s;
}
.tile span:nth-child(10) {
	width:400px;
	height:200px;
	transform-origin:100% 100%;
	-webkit-transition-delay:0.2s;
	transition-delay:0.2s;
}
.tile span:nth-child(11) {
	width:400px;
	height:400px;
	transform-origin:100% 50%;
	-webkit-transition-delay:0.1s;
	transition-delay:0.1s;
}
.tile span:nth-child(12) {
	width:400px;
	height:200px;
	transform-origin:100% 50%;
	-webkit-transition-delay:0s;
	transition-delay:0s;
}

.open .tile span {
	opacity:1;
	-webkit-transition-delay:0s;
	transition-delay:0s;
}
.open .tile span:nth-child(2) {
	-webkit-transform:rotateY(-180deg);
	transform:rotateY(-180deg);
	-webkit-transition-delay:0s;
	transition-delay:0s;
}
.open .tile span:nth-child(3) {
	transform:rotateX(180deg);	
	transform:rotateX(-180deg);
	-webkit-transition-delay:0s;
	transition-delay:0s;
}
.open .tile span:nth-child(4) {
	top:100px;
	-webkit-transform:rotateY(-180deg);
	transform:rotateY(-180deg);
	-webkit-transition-delay:0.1s;
	transition-delay:0.1s;
}
.open .tile span:nth-child(5) {
	-webkit-transform:rotateY(-180deg);
	transform:rotateY(-180deg);
	-webkit-transition-delay:0.2s;
	transition-delay:0.2s;
}
.open .tile span:nth-child(6) {
	-webkit-transform:rotateX(-180deg);
	transform:rotateX(-180deg);
	-webkit-transition-delay:0.2s;
	transition-delay:0.2s;
}
.open .tile span:nth-child(7) {
	top:200px;
	-webkit-transform:rotateY(-180deg);
	transform:rotateY(-180deg);
	-webkit-transition-delay:0.3s;
	transition-delay:0.3s;
}
.open .tile span:nth-child(8) {
	-webkit-transform:rotateY(-180deg);
	transform:rotateY(-180deg);
	-webkit-transition-delay:0.4s;
	transition-delay:0.4s;
}
.open .tile span:nth-child(9) {
	top:200px;
	-webkit-transform:rotateX(-180deg);
	transform:rotateX(-180deg);
	-webkit-transition-delay:0.4s;
	transition-delay:0.4s;
}
.open .tile span:nth-child(10) {
	top:400px;
	-webkit-transform:rotateY(-180deg);
	transform:rotateY(-180deg);
	-webkit-transition-delay:0.5s;
	transition-delay:0.5s;
}
.open .tile span:nth-child(11) {
	left:400px;
	-webkit-transform:rotateY(-180deg);
	transform:rotateY(-180deg);
	-webkit-transition-delay:0.6s;
	transition-delay:0.6s;
}
.open .tile span:nth-child(12) {
	top:400px;
	left:400px;
	-webkit-transform:rotateY(-180deg);
	transform:rotateY(-180deg);
	-webkit-transition-delay:0.7s;
	transition-delay:0.7s;
}
.list-content {
	position:absolute;
	top:54px;
	left:54px;
	width:0;
	height:0;
   -webkit-transition:width 1s, height 1s;
	transition:width 1s, height 1s;
	overflow:hidden;
}

.open .list-content {
	width:1200px;
	height:600px;
	-webkit-transition:width 1s, height 1s;
	transition:width 1s, height 1s;
	-webkit-transition-timing-function:ease-in;
	transition-timing-function:ease-in;
}
.list-content.scroll {
	overflow-y:auto;
}

.img-rolling {
	width:600px;
	height:375px;
	position:absolute;
	top:50px;
	left:140px;
	border:4px solid #000;
	overflow:hidden;
}
.img-rolling ul {
	overflow:hidden;
	-webkit-transition:-webkit-transform 300ms ease;
	transition:transform 300ms ease;
	-webkit-transform:translate(0, 0)			
	transform:translate(0, 0);
}
.img-rolling li {
	float:left;
	width:600px;
}
.img-rolling img {
	width:100%;
}
.img-rolling-s {
	width:210px;
	height:348px;
	position:absolute;
	left:882px;
	top:65px;
	overflow-y:auto;
}
.img-rolling-s .current {
	position:absolute;
	top:0;
	left:0;
	width:200px;
	height:120px;
	border:4px solid #333;
	box-sizing:border-box;
}
.img-rolling-s ul {
	overflow:hidden;
}
.img-rolling-s li {
	width:200px;
	height:116px;
	box-sizing:border-box;
	padding:4px;
	overflow:hidden;
}

.img-rolling-s li a {
	display:block;
	position:relative;
}
.img-rolling-s li img {
	width:100%;
}
.list-txt {
	padding-bottom: 100px;
	width:1000px;
	position:absolute;
	top:20px;
	left:100px;
}

.list-txt .list-studygroupName {    
		border: 1px black solid;
    padding: 20px;
    font-size: 25px;
    border-left-style: none;
    border-right-style: none;
    border-top-style: none;
}

.list-txt .list-studygroupInfo {
	padding-top: 20px;
	padding-left: 10px;
	overflow: hidden;
}

.list-txt .list-infoLabel {
	font-weight: bold;
}

.list-txt .list-infoDIV {
		overflow: hidden;
	  width: 60%;
    border: 1px solid black;
    border-top-style: none;
    border-left-style: none;
    border-right-style: none;
    float: left;
    height: 300px;
}

.list-txt .list-infoImgDIV {
	float:left;
/*    width: 250px; */
		width:45%;
   padding-top: 20px;
}

.list-txt .list-infoImg {
   width: 100%;
}

.list-txt .list-infoUl {   
	width:55%;
	font-size: 15px;
	float: left;    padding-top: 90px;
	padding-left: 10px;
}

#map {
	width: 90%;
	height: 80%;
	border: solid blue;
	margin-left: auto;
	margin-right: auto
}

.list-txt .list-studygroupMap {
    float: right;
    width: 39%;
    height: 350px;
}

.list-txt .list-BtnDIV {
	clear: both;    
	padding-top: 50px;
}

.list-txt .enterBtn {
	width: 290px;
  height: 50px;
}

.list-txt .cancleBtn {
	width: 290px;
    height: 50px;
}


/* d3.js */
path {  stroke: #fff; }
path:hover {  opacity:0.9; }
rect:hover {  fill:blue; }
.axis {  font: 10px sans-serif; }
.legend tr{    border-bottom:1px solid grey; }
.legend tr:first-child{    border-top:1px solid grey; }

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.x.axis path {  display: none; }
.legend{
    margin-bottom:76px;
    display:inline-block;
    border-collapse: collapse;
    border-spacing: 0px;
}
.legend td{
    padding:4px 5px;
    vertical-align:bottom;
}
.legendFreq, .legendPerc{
    align:right;
    width:50px;
}

#dashboard {
	    border: 1px solid black;
    border-left-style: none;
    border-right-style: none;
    border-top-style: none;
	
}








.list-txt .list-openDIV {
		overflow: hidden;
	  width: 100%;
    float: left;    padding-top: 50px;
        border: 1px solid black;
    border-left-style: none;
    border-right-style: none;
    border-top-style: none;
}

.list-txt .list-openImgDIV {
	float:left;
/*    width: 250px; */
		width:15%;
}

.list-txt .list-openImg {
   width: 100%;
}

.list-txt .list-openUl{   
	width:85%;
	font-size: 15px;
	float: left;
	padding-left: 10px;
}

.list-txt .list-detailDIV {
	clear: both;
	width: 100%;
	padding-top: 50px;
  border: 1px solid black;
  border-left-style: none;
  border-right-style: none;
  border-top-style: none;
}

.list-txt .list-detailLabel {
	font-weight: bold;
}

.list-txt .list-detail {
  padding-bottom: 50px;
  padding-top: 20px;
}







.roll-btn-wrap {
	display:inline-block;
	vertical-align: middle;
	position:absolute;
	top:209px;
}
.roll-btn-wrap .roll-btn {
	display:inline-block;
	border-radius: 50%;
}
.roll-btn-wrap:nth-child(1) {
	left:37.5px;
}
.roll-btn-wrap:nth-child(2) {
	left:785.5px;
}
.roll-btn .left {
  display:inline-block;
  width:65px;
  height:65px;
  border:5px solid #333;
  border-radius: 50%;
}

.roll-btn .left:after {
  content:"";
  display:inline-block;
  margin:14px 0 0 12px;
  width:26px;
  height:26px;
  border-top:5px solid #333;
  border-right:5px solid #333;
  -webkit-transform:rotate(-135deg);
  transform:rotate(-135deg);
}
.roll-btn .right {
  display:inline-block;
  width:65px;
  height:65px;
  border:5px solid #333;
  border-radius: 50%;
}

.roll-btn .right:after {
  content:"";
  display:inline-block;
  margin:14px 12px 0 0;
  width:26px;
  height:26px;
  border-top:5px solid #333;
  border-right:5px solid #333;
  -webkit-transform:rotate(45deg);
  transform:rotate(45deg);
}
.roll-btn span {

}
/*
div {
  display: inline-block;
  vertical-align: middle;
}

a {
  display: inline-block;
  border-radius: 50%;
}

a:hover .left, a:hover .top, a:hover .bottom, a:hover .right{
  border: 0.5em solid #e74c3c;
}

a:hover .left:after, a:hover .top:after, a:hover .bottom:after, a:hover .right:after {
  border-top: 0.5em solid #e74c3c;
  border-right: 0.5em solid #e74c3c;
}

.left {
  display: inline-block;
  width: 4em;
  height: 4em;
  border: 0.5em solid #333;
  border-radius: 50%;
  margin-right: 1.5em;
}

.left:after {
  content: '';
	display: inline-block;
  margin-top: 1.05em;
  margin-left: 0.6em;
  width: 1.4em;
  height: 1.4em;
  border-top: 0.5em solid #333;
  border-right: 0.5em solid #333;
  -moz-transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
  transform: rotate(-135deg);
}

.top {
  display: inline-block;
  width: 4em;
  height: 4em;
  border: 0.5em solid #333;
  border-radius: 50%;
  margin-right: 0.75em;
}

.top:after {
  content: '';
	display: inline-block;
  margin-top: 1.4em;
  width: 1.4em;
  height: 1.4em;
  border-top: 0.5em solid #333;
  border-right: 0.5em solid #333;
  -moz-transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.bottom {
  display: inline-block;
  width: 4em;
  height: 4em;
  border: 0.5em solid #333;
  border-radius: 50%;
  margin-left: 0.75em;
}

.bottom:after {
  content: '';
	display: inline-block;
  margin-top: 0.6em;
  width: 1.4em;
  height: 1.4em;
  border-top: 0.5em solid #333;
  border-right: 0.5em solid #333;
  -moz-transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
  transform: rotate(135deg);
}

.right {
  display: inline-block;
  width: 4em;
  height: 4em;
  border: 0.5em solid #333;
  border-radius: 50%;
  margin-left: 1.5em;
}

.right:after {
  content: '';
	display: inline-block;
  margin-top: 1.05em;
  margin-left: -0.6em;
  width: 1.4em;
  height: 1.4em;
  border-top: 0.5em solid #333;
  border-right: 0.5em solid #333;
  -moz-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}
*/
/*
.open .img-rolling ul {
	-webkit-transition:-webkit-transform 300ms ease;
	
	-webkit-transform:translate(0, 0);
	transition:transform 300ms ease;
	transform:translate(0, 0);
}
*/






/* tag-cloud css */
#tcdiv > div {
	position:absolute;
	bottom:30px;
	left:50%;
	width:1000px;
	margin-left:-500px;
}
.term-cloud {
	font-family:'Arial'; 
	font-size: 10px; 
	font-weight:bold;
}
.term-cloud-1 {
	font-size:20px; 
	color:#fff; 
}
.term-cloud-2 {
	font-size:24px; 
	color:#BCA9F5; 
}
.term-cloud-3 {
	font-size:38px; 
	color:#F2F5A9;
}
.term-cloud-4 {
	font-size:42px; 
	color:#A9D0F5;
}
.term-cloud-5 {
	font-size:49px; 
	color:#848484;
}
.term-cloud-6 {
	font-size:55px; 
	color:#CEF6E3;
}
.term-cloud-7 {
	font-size:59px; 
	color:#F6CEF5;
}
.term-cloud-8 {
	font-size:65px; 
	color:#81BEF7;
}
.term-cloud-9 {
	font-size:78px; 
	color:#F5D0A9;
}
.term-cloud-error {
	font-family:'Arial'; 
	font-size:10px; 
	color:red; 
}
.term-cloud-link {
	text-decoration:none;
}
.term-cloud-link:hover {
	text-decoration:none;
}

#canvas {
	position:absolute;
	top:0;
	left:50%;
	margin-left:-50%;
}

/* sub-page 시험 */
.container h3 {
	font-size:20px;
	color:#000;
	font-weight:bold;
	border-bottom:2px solid #999;
	margin-bottom:20px;
	padding-bottom:20px;
	text-indent:10px;
}
.btn-common {
	display:inline-block;
	padding:5px 10px;
	background:#105a8b;
	border:1px solid #333;
	color:#fff;
	font-size:15px;
	font-weight:bold;
	box-shadow:2px 2px 2px #000;
	cursor:pointer;
}
.table-common {
	margin-top:20px;
	width:100%;
	box-sizing:border-box;
	border-top:1px solid #999;
	border-left:1px solid #999;
}
.table-common th {
	font-size:15px;
	background:#105a8b;
}
.table-common th, .table-common td {
	border-right:1px solid #999;
	border-bottom:1px solid #999;
} 
.table-common td {
	font-size:14px;
	text-align:center;
}
.table-common td a {
	text-decoration:none;
	color:#000;
}
.table-common .th-border {
	padding:15px 0;
	font-weight:bold;
	color:#fff;
	border:3px solid #fff;
}
.table-common td.th-border {
	padding:10px 0;
}	
.table-common .td-border a {
	width:100%;
}
.table-common .link-wrap {
	text-align:left;
	margin:0 auto;
	text-overflow:ellipsis;
	overflow:hidden;
	white-space:nowrap;
}